        * {
        	box-sizing:border-box;
        }
        *:visited {
        	color: #7D7D7D
        }
        body {
        	background-color: pink; color: #7D7D7D;
        }
        html, body, #map-canvas {
        	width: 100%; 
        	height: 100%; 
        	z-index: -2; 
        	position: absolute; 
        	margin: 0;
        }

        
        #search-box {
			position: absolute;
			z-index: 3;
		}

		#search-nav {
			width: 266px;
			max-height: :549px;
			background-color: white;
			border: solid 2px orange;
			overflow: hidden;
		}
		ul{
			list-style-type: none;
		}
		#scrollList {
			max-height: 480px;
			overflow: scroll;
			margin: 0 5px;
		}

		#scrollList a{
			text-decoration: none;
		}

		li:hover {
			color: orange;
		}

		#arrow {
			height: 40px;
			width: 40px;
		}

		#arrow-container {
			background-color: gray;
			opacity: 1.2;
			max-width: 40px;
			border-radius: 50%;
		}


        .reset {
		    position: absolute;
		    z-index: 2;
		    width: 100%;
		    bottom: 0;
		    float:right;
		} 
		#resetMap,
		#resetMap:focus {
		    height: 75px;
		    width: 75px;
		    float: left;
		    margin: 0 10px 15px 0;
		    border-radius: 40%;
		    border: solid white 2px;
		    background-color: orange;
		    opacity: 0.9;
		    font-size: 14px;
		    color: white;
		    outline: none;
		}