
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


* {
    font-family: 'Lato', sans-serif;
}


@media only screen and (max-width: 500px) {
    p{
        font-size:0.70em; 
    }
    div.col-2 img.img-resize{
        height: 62%; 
        width: 62%;
    }
    div.col-2 h4.class-H4{
        font-size: 0.65em;
    }
   
    div.col-6 h1.class-H1{
        font-size: 1.313em;
    }
    div.col-12 h2.class-H3{
        font-size: 1.2em;
    }
    div.col-2 h3.class-H3{
        font-size: 1.12em;
    }
    div.col-2 p a.link-class{
        font-size: 0.60em;
    }
    
}


body {
    background-color: #ffebe3;
}

h1 { 
    padding: 30px 20px 0px 20px;
    margin: -38px 0px 0px;
    color: #140000; 
    text-align: right;
}

h3 { 
    padding: 35px 20px 0px;
    margin: -15px 0px 0px;
    color: #140000; 
    text-align: right;
}

.class-H3 {
    padding: 14px 0px 0px 0px;
    margin: 8px 8px 8px -4px;
 }

h3.align-H2 {
    text-align:left;
}

a:hover{color: red;}

p {
    padding: 4px;
    font-size: 1.020em;
    margin:auto;
}

ul.style {
    list-style-type: square;
}

a { 
    text-decoration: none;
}

p.set-paragraph ul {
    margin:8px; 
}

div.col-2 p { 
    margin:5px;
    padding: 5px 5px 0px 5px;
    font-size: 0.80em;
           
}
.link-class{
    word-wrap: break-word;
}


.grid {
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
}

.row {
    width: 100%;
    margin-bottom: -4px;
    display: flex;
    padding-top: 10px;
}

.row-1 {
    width: 100%;
    margin-bottom: 22px;
    border-bottom: 6px ridge #ffa791;
    border-right: 6px ridge #ffa791;
    display: flex;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
    text-align: center;
    padding-top: 2px;
    padding-right: 0px;
    margin-right:10px;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
    padding: 19px;

}
.col-6 .thumbnail{ 
    border-radius: 100px; 
    border: 5px solid #ffa791;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
    padding: 14px 14px 14px 0px;
}

div.scroll-col-12 {
    width: 1195px;
    height: 300px;
    overflow: scroll;
    padding: 10px;
    margin: -15px;
}

div.scroll-col-12 :hover {
    color: brown;
    
}

div.scroll-col-12 p.set-paragraph {
    text-align:justify;
}