* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}


h1 {
  font-size: 40px;
  color: #aac9ca;
  line-height: 48px;
  display: inline;
  
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #345859;
  line-height: 29px;
  padding: 10px;
  
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #295562 ;
  line-height: 22px;
  
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
  
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
  
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #415541;
  line-height: 16px;
  float: right;
  
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  
}

a {
  color: #005c5c;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
  margin-top: 15px;
  
}

#skillsH3 {
  color: #ffad5c;
  display: none;
  padding:0px 0px 0px 242px;
}

.role{color:#ffad5c;}

.orange {
  background-color: #ffad5c;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #ffffff;
}

#projects{
  background-color:#eef4f4; 
}

.gray {
  background-color:#ccd8da ;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #385c5b;
}

.footer{ 
  background-color: #385c5b;
 }

.olClasses{
  padding-left: 0px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.skills-display{
  flex-direction: column;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  margin-top: 0px;
  padding: 1px;
  width: 15%;
  height:15%;
  display: none;
}

img {
  padding: 0px;
  margin:5px;
  width: 700px;
  height: 400px;
  border:3px solid #005c5c ;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4a4a4a;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px 5px 5px 49px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 5%;
    height: 4%;
  }
  img{ 
    width: 65%;
    height: 65%;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 4%;
    height:3%;
  }
  img{
    width: 60%;
    height:60%;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  background-color: #eef4f4;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;

  }
}

